@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }

    <li class="has-dropdown">
        @Html.ActionLink(this.User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <ul >
            <li><a href="#">Нова обява гуми</a></li>
            <li><a href="#">Нова обява джанти</a></li>
            <li><a href="#">Нова обява джанти с гуми</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Излез</a></li>

        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink("Влез в акаунта си!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Регистрирай се!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}
