@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }

    if (this.User.IsInRole("Admin"))
    {

        <li class="has-dropdown">
            <a href="#"> Админ</a>
            <ul>
                <li><a href="/Administration/Users">Потребители</a></li>
            </ul>
        </li>
    }

    <li class="has-dropdown">
        <a href="#">@this.User.Identity.Name</a>
        <ul>
            <li><a href="/Tires/Add">Нова обява гуми</a></li>
            <li><a href="/Rims/Add">Нова обява джанти</a></li>
            <li><a href="/RimsWithTires/Add">Нова обява гуми с джанти</a></li>
            <li><a href="/Manage/ChangePassword">Смяна на парола</a></li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Излез</a></li>

        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink("Влез в акаунта си!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Регистрирай се!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}
